body, html {
	background-color: #BA00FF;
    color: white;
    font-family: Arial, Helvetica, sans-serif;  
	background-position: top;
	background-repeat: no-repeat;
    background-image:url('../img/DemoHeader.png');
	margin: 0px;
	padding: 0px;
}